body {
  background-color: black;
  color: white;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}


.portofolio-header{
  font-family: Courgette, cursive;
  margin: 20px auto;
  padding-top: 170px;
  max-width: 700px;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;

}

.links {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.3rem;
  margin-bottom: 100px;
}

.myWord {
  border: 2px solid white;
}

a:link {
  color: white;
}

a:hover {
  color: #B0C4DE;
}

a:active{
  color: white;
}

a:visited{
  color: white;
}

.twitter {
  padding-top: 100px;
}

footer {
  padding-top: 100px;
  display: block;
}

a.fo-github:hover {
  color: #696969;
}

a.fo-twitter:hover {
    color: #55acee;
}

a.fo-facebook:hover {
  color: #3b5998;
}

a.fo-instagram:hover {
  color: #e95950;
}

a.fo-linkedin:hover {
  color: #007bb5;
}

a.fo-mail:hover{
  color: #696969;
}

a.fo-codepen:hover{
  color: #696969;
}
