

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.portofolio-body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 2.0em;
}

.portofolio-header{
  font-family: Courgette, cursive;
  margin: auto;
  padding-top: 170px;
  max-width: 700px;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.links {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.3rem;
  margin-bottom: 100px;
}
.word{
   display: absolute;
   top: 0px;
   left: 0px;
   min-height: 1em;
}

.word .cursor{
  display:inline-block;
  min-width:1px;
  background:#FFF;
  margin-left:-0.5em;
  margin-top:-0.1em;
  height:1.3em;
  vertical-align: middle;
  animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor{
   0% { opacity:1; }
   80%{ opacity:1; }
   80.1%{ opacity:0; }
   100%{ opacity:0; }
}

a:link {
  color: white;
}

a:hover {
  color: #B0C4DE;
}

a:active{
  color: white;
}

a:visited{
  color: white;
}

.fa-github:hover {
  color: #696969;
}

.fa-github:visited {
  color: white;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-twitter:visited {
  color: white;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fo-facebook:visited {
  color: white
}

.fa-instagram:hover {
  color: #e95950;
}

.fa-instagram:visited {
  color:  white;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-linkedin:visited {
  color: white;
}

.fa-mail:hover{
  color: #696969;
}

.fa-mail:visited {
  color: white;
}

.fa-codepen:hover{
  color: #696969;

}

.fa-codepen:visited {
  color: white;
}

footer#connect {
  background-color: black;
  color: #ffffff;
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  z-index: 1;
}


.mdl-mini-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 10px;
}

.mdl-mini-footer__link_list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
}

.mdl-mini-footer__link_list li {
  margin-right: 16px;
  margin-bottom: 0;
}

#slogan  {
  padding-bottom: 10px;
  font-size: 0.5em;
  font-family:
}

#about {
  font-size: 0.7rem;
}
